<ion-content>
  <ion-grid>
    <ion-row align-items-center justify-content-center>
      <ion-col align-self-center>
        <ion-img [src]="nn.logo" class="nn-logo-login"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
    <ion-card color="light">
      <ion-card-header>
        <ion-card-title class="center">Get started!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Corporate Key</ion-label>
          <ion-input name="username" id="loginField" type="text" required [(ngModel)]="user.username"
            #email></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input name="password" id="passwordField" type="password" required [(ngModel)]="user.password"></ion-input>
        </ion-item>
      </ion-card-content>

      <ion-grid>
        <ion-row align-items-center justify-content-center>
          <ion-col align-self-center class="center">
            <ion-button shape="round" fill="outline" color="dark" class="submit-btn" type="submit" [disabled]="!loginForm.form.valid">
              <ion-icon slot="start" name="unlock"></ion-icon>
              Login
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </form>

</ion-content>