<app-header [title]="title"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header (click)="presentActionSheet()">
      <ion-card-title><a># 3 mile walk challenge!</a></ion-card-title>
    </ion-card-header>

    <ion-item lines="full">
      <ion-badge slot="end" color="success">LIVE</ion-badge>
      <ion-chip color="light">
        <ion-icon name="heart" color="danger"></ion-icon>
        <ion-label>23 members following</ion-label>
      </ion-chip>
    </ion-item>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>

    <ion-item>
      <ion-label>Health Points: 5000</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Challenge ends on 09:00</ion-label>
    </ion-item>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title><ion-label color="secondary">Your points: 30000</ion-label></ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" fill="outline" color="secondary">REDEEM</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>