<app-header [title]="title"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header (click)="presentActionSheet()">
      <ion-card-title><a># NN Hackathon!</a></ion-card-title>
    </ion-card-header>

    <ion-item lines="full">
      <ion-badge slot="end" color="success">LIVE</ion-badge>
      <ion-chip color="light">
        <ion-icon name="heart" color="danger"></ion-icon>
        <ion-label>200 members following</ion-label>
      </ion-chip>
    </ion-item>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>

    <ion-item>
      <ion-label>Location: The Hague</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Event ends on 16th November 15:00</ion-label>
    </ion-item>
  </ion-card>
</ion-content>